@-webkit-keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}
@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@-webkit-keyframes sphereSpin {
  0% { -webkit-transform: rotateX(0deg) rotateY(360deg); }
  100% { -webkit-transform: rotateX(360deg) rotateY(0deg);  }
}
@keyframes sphereSpin {
    
    0% { transform: rotateX(0deg) rotateY(360deg); opacity: 0; }
    50% {transform: rotateX(180deg) rotateY(180deg); opacity: 1;}
    100% { transform: rotateX(360deg) rotateY(0deg); opacity: 0; }
}

.spinner.sphere {
  width: 4em;
  height: 4em;
  -webkit-transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
  transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
    padding: 5em;
}

.spinner .inner {
  width: 100%;
  height: 100%;
    padding 10;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: sphereSpin 6s linear infinite;
  animation: sphereSpin 6s linear infinite;
}

.spinner.sphere .disc {
  position: absolute;
margin:0 auto;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: .5em double lightgreen;
/*     box-shadow: 1 2 4px green;*/
}

@-webkit-keyframes rotateDisc2 {
  from { -webkit-transform: rotateX(90deg) rotateZ(0deg); }
  to { -webkit-transform: rotateX(90deg) rotateZ(360deg); }
}
@keyframes rotateDisc2 {
  from { transform: rotateX(90deg) rotateZ(0deg); }
  to { transform: rotateX(90deg) rotateZ(360deg); }
}

@-webkit-keyframes rotateDisc3 {
  from { -webkit-transform: rotateY(90deg) rotateZ(0deg); }
  to { -webkit-transform: rotateY(90deg) rotateZ(360deg); }
}
@keyframes rotateDisc3 {
  from { transform: rotateY(90deg) rotateZ(0deg); }
  to { transform: rotateY(90deg) rotateZ(360deg); }
}

@-webkit-keyframes rotateDisc4 {
  from { -webkit-transform: rotateZ(60deg) rotateY(0deg); }
  to { -webkit-transform: rotateZ(60deg) rotateY(360deg); }
}
@keyframes rotateDisc4 {
  from { transform: rotateZ(60deg) rotateY(0deg); }
  to { transform: rotateZ(60deg) rotateY(360deg); }
}

.spinner.sphere .disc:nth-child(1) {
  -webkit-animation: rotate 12s linear infinite;
  animation: rotate 12s linear infinite;
}
.spinner.sphere .disc:nth-child(2) {
  -webkit-animation: rotateDisc2 12s linear infinite;
  animation: rotateDisc2 12s linear infinite;
}
.spinner.sphere .disc:nth-child(3) {
  -webkit-animation: rotateDisc3 12s linear infinite;
  animation: rotateDisc3 12s linear infinite;
}
.spinner.sphere .disc:nth-child(4) {
  -webkit-animation: rotateDisc4 12s linear infinite;
  animation: rotateDisc4 12s linear infinite;
}


